# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
env/

# Build files
build/
dist/
*.spec

# Logs
*.log
build_log.txt

# OS files
.DS_Store
Thumbs.db

# Secrets
.env

# Outputs
*.mp3

backend/data/*.json
.firebase/